$main-color: #0C473E;
$light-text: #FDFDEF;
$text-accent: #ff7424;
$background-dark: #b1e389;
$logo-outline-color: #3A251C;

$backgorund-light: $light-text;
$topnav-bgColor: $main-color;
$topnav-color: $light-text;

:root {
    --accentColor: #{$text-accent};
    --mainColor: #{$main-color};
}