$main-color: #0C473E;
$light-text: #FDFDEF;
$text-accent: #ff7424;
$background-dark: #F1DDC9;
$logo-outline-color: #3A251C;

$backgorund-light: $light-text;
$topnav-bgColor: $main-color;
$topnav-color: $light-text;
