@import '../../styles/colors.scss';
.AttractionsCarousel {
    overflow: auto;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;

    .slick-slider {
        background-color: white;
        padding: 25px;
        cursor:grab;
    }
}
