@import '../../styles/colors.scss';
.AttractionsCarousel {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    margin-bottom:40px;

    .slick-slider {
        background-color: white;
        padding: 25px;
        cursor: grab;
    }

    .slick-dots button:before{
        font-size:60px;
    }
}
